/*Global*/

body{
  margin: 0;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #454545;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

a{
  text-decoration: none;
  transition: 0.5s;
}

a:hover{
  text-decoration: none;
}

img{
  max-width: 100%;
}

img.publi-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section:nth-child(odd){
  background: #f4fafe;
}

section:nth-child(even).publications-section .publi .publi-icon {
  color: #f4fafe;
}

header{
  background: transparent;
  position: absolute;
  left: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, h3 a, h4 a {
  margin: 0;
  padding: 0;
  font-family: sofia-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2b3e54;
}

h1 {
  font-size: 80px;
  position: relative;
  padding-bottom: 48px;
  margin-bottom: 45px;
}

h2 {
  font-size: 45px;
  line-height: 1.11;
  margin-bottom: 45px;
}

h3{
  font-size: 32px;
  line-height: 1.09;
  margin-bottom: 30px;
}

h1:after {
  content: "";
  width: 125px;
  height: 9px;
  background-color: #cc0000;
  position: absolute;
  left: 0;
  bottom: 0;
}


/* Main nav */

header .container{
  padding: 0px;
}

.main-nav{
  padding: 18px 100px 12px 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  z-index: 2;
  background: transparent;
  transition-duration: 0.5s;
  position: relative;
  z-index: 99;
}

.main-nav.transition{
  transition: 0.5s;
}

.main-nav.menu-mobile{
  background-color: #fff;
}

.main-nav.sticky{
  position: fixed;
  top: -128px;
  transition-duration: 0.5s;
  background-color: #fff;
  /*transform: translateY(calc(-100% - 1px));*/
}

.main-nav.visible {
  /*transform: translateY(0%);*/
  top: 0;
}

.main-nav .logo{
  width: 180px;
}

.main-nav .logo img{
  width: 100%;
  height: auto;
}

.main-nav .main-nav-list > ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 20px 0;
}

.main-nav .main-nav-list > ul > li{
  padding: 0 21px;
}

.main-nav .main-nav-list > ul > li:first-child{
  padding-left: 0;
}

.main-nav .main-nav-list > ul > li:last-child{
  padding-right: 0;
}

.main-nav .main-nav-list > ul li > a{
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

.main-nav .main-nav-list ul li > a:hover, .main-nav.sticky .main-nav-list > ul li > a, .main-nav.menu-mobile .main-nav-list > ul li > a{
  color: #2b3e54;
}

.main-nav.sticky .main-nav-list ul li > a:hover,  .main-nav.menu-mobile .main-nav-list > ul li > a:hover{
  color: #cc0000;
}

.main-nav .main-nav-list > ul > li > a{
  position: relative;
}

.main-nav .main-nav-list > ul > li.has-sub > a:after{
  content: "";
  width: calc(100% + 40px);
  height: 6px;
  background: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -34px;
  transition: 0.5s;
}


/* HOME BANNER */

.mailto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


section.home-banner{
  padding: 0;
}

.home-banner .home-banner-image{
  height: 1000px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.home-banner .home-banner-content .home-dibs-assistant-block{
  background-color: #2b3e54;
  padding: 50px;
}

.home-banner .home-banner-content .home-dibs-assistant-block h2{
  font-size: 32px;
}

.home-banner .home-banner-caption{
  margin-bottom: 200px;
}

.home-banner h1 {
  color: #fff;
  line-height: 1;
}

.home-banner .page-subtitle {
  font-size: 30px;
  font-weight: 200;
  line-height: 2.2em;
  color: #fff;
}

.home-banner .home-banner-content .home-dibs-assistant-block .dropdown{
  background: #fff;
  padding: 15px 30px 15px 18px;
}

.home-banner .home-banner-content .home-dibs-assistant-block .dropdown, .home-banner .home-banner-content .home-dibs-assistant-block .dropdown.filled{
  border-bottom: solid 1px #fff;
}

/* Sections */

section{
  padding: 80px 0px;
}

/* Team */

.team-section .team-member{
  display: grid;
  margin-top: 30px;
  grid-template-columns: 130px 1fr;
  align-items: center;
}

.team-section .team-member .member-picture{
  border-radius: 55px;
  margin-right: 55px;
  width: 110px;
  height: 110px;
  object-fit: cover;
}

/*.team-section .team-member .member-infos{
  padding-top: 22px;
}*/

.team-section .team-member .member-name{
  font-size: 22px;
  font-weight: 700;
  color: #2b3e54;
}

.team-section .team-member .member-job{
  border-radius: 40px;
  margin-right: 40px;
}

/* Planning */

.planning-section .events-slider{
  overflow: hidden;
}

.planning-section .events-slider .slick-list{
  border-bottom: solid 1px #8d8d8d;
}

.planning-section .events-slider .slick-list .slick-track {
  display: flex;
}

.planning-section .events-slider .event{
  border-left: solid 1px #8d8d8d;
  margin-left: 85px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.planning-section .events-slider .event .event-name{
  font-size: 22px;
  font-weight: 700;
}

.planning-section .events-slider .event .event-description{
  flex-grow: 1;
}

.planning-section .events-slider .event .event-description p{
  margin: 10px 0 20px 0;
}

.planning-section .events-slider .event .event-date{
  margin-bottom: 10px;
  color: #cc0000;
  font-weight: 500;
}

.planning-section .action-slide{
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  color: #cc0000;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  font-size: 60px;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}

.planning-section .action-slide.slick-disabled{
  opacity: 0.25;
  cursor:unset;
}

.planning-section .action-slide.prev-slide{
  left: 0;
}

.planning-section .action-slide.next-slide{
  right: 0;
}

.planning-section .action-slide.prev-slide:after{
  content: "\f053";
}

.planning-section .action-slide.next-slide:after{
  content: "\f054";
}


/* Publications */

.publications-section .publi-row{
  margin-right: -3rem!important;
  margin-left: -3rem!important;
  margin-top: 50px;
}

.publications-section .publi a{
  color: #454545;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.publications-section a .publi-date, .publications-section a .publi-title{
  z-index: 2;
  position: relative;
}

.publications-section a .publi-title{
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
}

.publications-section a:hover .publi-title{
  color: #cc0000;}

  .publications-section .publi .publi-icon{
    position: absolute;
    left: 0;
/*    top: 30%;*/
width: 100%;
text-align: center;
rm: translateY(-50%);
color: #fff;
font-family: "Font Awesome 5 Pro";
font-weight: 300;
font-size: 100px;
opacity: 1;
transition: opacity 0.5s;
z-index: 1;
}

.publications-section .publi .publi-icon.p-i-pdf::after{
  content: "\f1c1";
}

.publications-section .publi .publi-icon.p-i-video::after{
  content: "\f144";
}

.publications-section .publi .publi-icon.p-i-word::after{
  content: "\f1c2";
}

.publications-section .publi .publi-icon.p-i-download::after{
  content: "\f56d";
}

.publications-section .publi .publi-icon.p-i-external::after{
  content: "\f14c";
}

.publications-section .publi a:hover .publi-icon{
  opacity: 0;
}

/* Partners */

.partners-section .partners-row{
  margin-right: -3rem!important;
  margin-left: -3rem!important;
}

.partners-section .partners-row .partner{
  margin-top: 50px;
}

.partners-section .partners-row .partner a img{
  transition: opacity 0.5s;
}

.partners-section .partners-row .partner a:hover img{
  opacity: 0.5;
}

/* Text colors */

.text-white, .text-white h2{
  color: #fff;
}

/* Form */

select{
  display: none;
}

.dropdown {
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font-weight: normal;
	outline: none;
	padding: 0 30px 10px 0;
	position: relative;
	text-align: left !important;
	transition: all 0.2s ease-in-out;
	user-select: none;
	width: 100%;
	color: rgba(43,62,84, 0.55);
	z-index: 1;
  border-bottom: solid 1px rgba(43,62,84, 0.35);
  margin-bottom: 20px;
  line-height: 1;
  margin-top: 6px;
}

.dropdown.filled{
  border-bottom: solid 1px rgba(43,62,84, 1);
}

.dropdown.filled .current{
  color: rgba(43,62,84, 1);
}

.dropdown:after {
	line-height: 0;
	transform-origin: top center;
	transition: all 0.125s ease-in-out;
	content: '\f107';
	font-family: "Font Awesome 5 Pro";
	font-weight: 300;
	display: block;
	pointer-events: none;
	position: absolute;
	right: 13px;
	top: 50%;
	transform: rotate(0deg) translateY(-50%);
	font-size: 18px;
  color: #2b3e54;
}

.dropdown.open:after {
	transform: rotate(-180deg) translateY(-50%);
}

.dropdown.open .list {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}

.dropdown.open .option {
	cursor: pointer;
}

.dropdown.wide {
	width: 100%;
}

.dropdown.wide .list {
	left: 0 !important;
	right: 0 !important;
}

.dropdown .list {
	box-sizing: border-box;
  transition: all .15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity .1s linear;
  transform: scale(.75);
  transform-origin: 50% 0;
  background-color: #fff;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  min-width: 100%;
  max-width: inherit;
  top: calc(100% + 10px);
  left: 0px;
  z-index: 999;
  border: solid 1px #2b3e54;
}

.dropdown .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.dropdown .list ul {
	height: auto;
	max-height: 170px;
	overflow: auto;
	padding: 0;
	margin: 0;
	position: relative;
}

.dropdown .option {
	cursor: default;
	font-weight: normal;
	color: #2b3e54;
	outline: none;
	display: block;
	text-transform: none;
	padding: 10px 15px;
	text-align: left;
	transition: all 0.2s;
}

.dropdown .option:hover, .dropdown .option:focus {
	background-color: #f4fafe;
	color: #2b3e54;
}

.dropdown .option.selected {
	color: #2b3e54;
  font-weight: 700;
}

.dropdown .option.selected:focus {
	background: #f4fafe;
}

.dropdown:hover, .dropdown.open {
	border-color: #2b3e54;
	color: #2b3e54;
	z-index: 2;
}

form label{
  font-size: 13px;
  color: #2b3e54;
  margin-bottom: 10px;
  display: block;
}

.field-group{
  position: relative;
  margin-bottom: 20px;
}

.field-group label{
  position: absolute;
  transform: translateY(0px);
  transition: all 0.5s;
  transform-origin: bottom left;
  font-size: 18px;
  color: #2b3e54;
  top: 20px;
  left: 0;
  opacity: 0.55;
  pointer-events: none;
}

textarea{
  border: none;
  height: 165px;
  font-family: sofia-pro, sans-serif;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]), textarea{
  width: 100%;
  color: #2b3e54;
  border: none;
  padding: 20px 0 10px 0;
  border-radius: 0;
  border-bottom: solid 1px rgba(43,62,84, 0.35);
  font-size: 18px;
  outline: none;
  transition: 0.5s;
  background-color: transparent;
}

.field-group.is-completed label{
  transform: translateY(-20px);
  font-size: 13px;
  opacity: 1;
}

.field-group.is-completed input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]),
.field-group.is-completed textarea{
  border-bottom: solid 1px rgba(43,62,84, 1);
}

.radio-group, .checkbox-group{
  margin-bottom: 30px;
}

.radio-group label,
.checkbox-group label{
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

input[type="checkbox"] {
  vertical-align: top;
  border: 1px solid rgba(43,62,84, 0.35);
  background: #fff;
  cursor: pointer;
  display: inline-block;
  float: left;
  line-height: 0;
  width: 18px;
  height: 18px;
  margin: 4px 10px 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  -webkit-appearance: none;
  transition: 0.5s;
  border-radius: 0;
}

input[type="checkbox"]:hover {
  border-color: #2b3e54;
}

input[type="checkbox"]:checked {
  background: rgba(43,62,84, 1);
  border-color: rgba(43,62,84, 1);
}

input[type="checkbox"]:checked:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  margin: 8px 3px;
  color: #fff;
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
}

/* Buttons */

.btn {
  color: #fff;
  text-align: center;
  padding: 9px 25px 11px 25px;
  line-height: 1.4;
  display: inline-block;
  transition: 0.5s;
  font-weight: 700;
  font-size: 18px;
}

.full-btn{
  width: 100%;
}

.red-btn {
  background: #cc0000;
  border: solid 1px #cc0000;
}

.red-btn:hover{
  background: #2b3e54;
  border-color: #2b3e54;
}

.red-btn.red-btn-hover-white:hover{
  background: #fff;
  border-color: #fff;
  color: #cc0000;
}

button {
  cursor: pointer;
  font-family: sofia-pro, sans-serif;
}

/*Footer*/
footer{
  background: #2b3e54;
  color: #fff;
  padding-top: 65px;
}

footer h5{
  font-size: 26px;
  font-weight: 700;
  position: relative;
  padding-bottom: 17px;
  margin-bottom: 22px;
  color: #fff;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li{
  margin-bottom: 25px;
}

footer h5:after{
  content: "";
  width: 40px;
  height: 8px;
  background: #cc0000;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer a{
  color: rgba(255, 255, 255, 0.75);
}

footer a:hover{
  color: rgba(255, 255, 255, 1);
}

footer p{
  line-height: 1.28;
  margin: 0 0 30px 0;
}

footer .social-links li{
  display: inline-block;
  margin-right: 26px;
  margin-bottom: 0;
}

footer .social-links li:last-child{
  margin-right: 0px;
}

footer .social-links li a{
  font-size: 28px;
}

footer .social-links li a:after{
  display: none;
}

footer .logo-footer a{
  width: 264px;
  height: auto;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: 2em;
}

footer .sub-footer{
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  padding: 25px 0 30px 0;
}

footer .sub-footer ul{
  display: inline-block;
}

footer .sub-footer ul li{
  display: inline-block;
  padding: 0 14px;
  margin-bottom: 0;
}

footer .sub-footer ul li:first-child{
  padding-left: 0;
}

footer .sub-footer ul li:last-child{
  padding-right: 0;
}

.back-to-top{
  position: fixed;
  width: 45px;
  height: 45px;
  background: rgba(43,62,84, .3);
  right: 35px;
  bottom: 42px;
  border-radius: 100%;
  color: #fff;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.back-to-top:hover{
  background: rgba(43,62,84, 1);
}


.back-to-top.visible{
  opacity: 1;
  visibility: visible;
}

/* Mobile */
.mobile-tools{
  display: none;
}

/* Formtage */

.margin-top-30{
  margin-top: 30px;
}

.margin-top-60{
  margin-top: 60px;
}

.margin-top-100{
  margin-top: 100px;
}

.align-center{
  text-align: center;
}

.text-right {
  text-align: right;
}

.image-align-left{
  float: left;
  margin-right: 100px;
}

.image-align-right{
  float: right;
  margin-left: 100px;
}

.image-align-right{
  float: right;
  margin-left: 100px;
}

.position-relative{
  position: relative;
}

.no-scroll{
  overflow: hidden !important;
}

@media (min-width: 1400px) {
  .container{
    max-width: 1416px;
  }
}

/* Responsive */
@media screen and (min-width: 1200px) and (max-width: 1400px){
  /* Header */
  .main-nav .main-nav-list > ul li a {
    font-size: 22px;
  }

  .main-nav .main-nav-list > ul > li {
    padding: 0 10px;
  }

}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .home-banner .home-banner-caption {
    margin-bottom: 100px;
  }

}

@media screen and (max-width: 1200px) {
  /* Header */
  .main-nav {
    padding: 15px 20px;
  }

  .main-nav .logo {
    width: 180px;
  }

  .main-nav .main-nav-list > ul > li {
    padding: 0 15px;
  }

  .main-nav .main-nav-list > ul li a {
    font-size: 20px;
  }

  .main-nav .sub-nav li a:before {
    top: 10px;
  }

}

@media screen and (max-width: 991px) {
  /*Grid adjust*/
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .container, .container-fluid{
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
  .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1,
  .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
  .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
  .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3,
  .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
  .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1,
  .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,
  .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* Header */
  .main-nav{
    padding: 13px 15px;
    align-items: center;
  }

  .main-nav.sticky, .main-nav.menu-mobile{
    padding: 7px 15px;
    border-bottom: solid 1px #dadfe2;
  }

  .main-nav .main-nav-list,
  .top-nav{
    display: none;
  }

  .main-nav .logo {
    width: 147px;
  }

  .main-nav.sticky .logo, .main-nav.menu-mobile .logo{
    width: 95px;
  }

  .main-nav{
    top: 0px!important;
    position: fixed;
  }

  .search-btn-mobile.open i:before{
    content: "\e905";
    font-family: 'icomoon';
  }

  .mobile-tools{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuburger {
    position: relative;
    z-index: 99999;
    cursor: pointer;
    width: 30px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 1;
  }

  .menuburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 30px;
    background: #2b3e54;
    border-radius: 0px;
    opacity: 1;
    left: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: translateX(-50%) rotate(0deg);
    -o-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .menuburger span:nth-child(1) {
    top: 0px;
  }

  .menuburger span:nth-child(2) {
    top: 8px;
  }

  .menuburger span:nth-child(3) {
    top: 16px;
  }

  .menuburger.active span:nth-child(1) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
    -moz-transform: translate(-50%, -50%) rotate(135deg);
    -o-transform: translate(-50%, -50%) rotate(135deg);
    transform: translate(-50%, -50%) rotate(135deg);
    opacity: 1;
  }

  .menuburger.active span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  .menuburger.active span:nth-child(3) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    -moz-transform: translate(-50%, -50%) rotate(-135deg);
    -o-transform: translate(-50%, -50%) rotate(-135deg);
    transform: translate(-50%, -50%) rotate(-135deg);
  }

  .main-nav .main-nav-list{
    position: fixed;
    width: 100%;
    height: calc(100vh - 85px);
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    top: 81px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .main-nav.sticky .main-nav-list{
    position: fixed;
    width: 100%;
    height: calc(100vh - 54px);
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    top: 81px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .main-nav .main-nav-list > ul{
    flex-direction: column;
    padding-bottom: 0;
  }

  .main-nav .main-nav-list > ul li a {
    font-size: 22px;
    display: block;
    position: relative;
  }

  .main-nav .main-nav-list > ul > li > a {
    padding: 18px 35px 18px 20px;
  }

  .main-nav .main-nav-list > ul > li{
    padding: 0;
    border-bottom: solid 1px #cfd4d7;
  }

  .main-nav .main-nav-list > ul > li:first-child {
    border-top: solid 1px #cfd4d7;
  }

  .main-nav.sticky .main-nav-list > ul > li:first-child {
    border-top: none;
  }

  .mobile-menu-footer{
    background: #2b3e54;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 0 60px 0;
  }

  .mobile-menu-footer *{
    color: #fff;
  }

  .mobile-menu-footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
  }

  .mobile-menu-footer .subscribe-btn{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 30px;
  }

  .home-banner .home-banner-caption {
    margin-bottom: 70px;
  }

}

@media screen and (max-width: 767px) {

  h1{
    font-size: 50px;
  }

  h2{
    font-size: 36px;
  }

  h3{
    font-size: 26px;
  }

  .home-banner .home-banner-image {
    height: 850px;
  }

  .publications-section .publi{
    margin-bottom: 40px;
  }

  /* Footer */
  footer{
    text-align: center;
    padding-top: 55px;
  }

  footer h5:after {
    left: calc(50% - 20px);
  }

  footer h5{
    font-size: 23px;
    line-height: 1.13;
    margin-bottom: 25px;
  }

  footer p {
    line-height: 1.28;
    margin: 0 0 22px 0;
  }

  footer > .container > .row [class*='col-']{
    margin-bottom: 60px;
  }

  footer > .container > .row [class*='col-'] *:last-child,
  footer > .container > .row [class*='col-'] *:last-child *:last-child{
    margin-bottom: 0px;
  }

  footer .logo-footer a {
    margin-top: 0px;
  }

  footer .sub-footer ul{
    margin-bottom: 15px;
  }

  footer .sub-footer ul li:first-child {
    padding-left: 7px;
  }

  footer .sub-footer ul li:last-child {
    padding-right: 7px;
  }

  footer .sub-footer ul li {
    padding: 0 7px;
    margin-bottom: 5px;
  }

  footer .text-right,
  footer .sub-footer .text-right{
    text-align: center !important;
  }

}


@media screen and (max-width: 576px) {
  h1{
    font-size: 40px;
  }

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 22px;
  }

  .team-section .team-member .member-infos {
    padding-top: 0px;
  }

  .publications-section .publi{
    text-align: center;
    margin-bottom: 40px;
  }

  .partners-section .partner{
    text-align: center;
  }

}