    {% include 'partials/header.html.twig' %}

    <!-- Main content start -->
    <div class="main-content">
      <!-- Home-banner section start -->
      <section class="home-banner">
        <div class="home-banner-content">
          <div class="home-banner-image" style="background-image: url(img/home_background.jpg); background-position: top; background-color: rgba(255,255,255,0.1); background-blend-mode: overlay;">
            <div class="container">
              <div class="row">
                <div class="col-lg-7 col-xl-7">
                  <div class="home-banner-caption">
                    <span class="page-subtitle">Projet de recherche</span>
                    <h1>Digital Individual Benefit Statement</h1>
                    <h2>Co-financé par Innosuisse</h2>
                  </div>
                </div>
                <div class="col-lg-5 col-xl-5">
                  <div class="row" style="text-align: center;width: 100%;">
                    <img src="img/logo_dibs.svg" alt="Logo DIBS">
                  </div>
                  <div class="row" style="padding: 1em 6em 0 4em;">
                    <a <a href="{{homeInfo['attributes']['contact']}}" target="_blank"  class="btn red-btn full-btn red-btn-hover-white">Contactez-nous</a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </section>
     <!-- Home-slider section end -->

     <!-- Activities section start -->
     <section id="activities" class="activites-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>{{homeInfo['attributes']['title']}}</h2>
            <div class="content">
              <img src="{{base_api_url}}{{homeInfo['attributes']['image']['data']['attributes']['url']}}" class="image-align-left">
              <h3>{{homeInfo['attributes']['subtitle']}}</h3>
              {% markdown %}
              {{homeInfo['attributes']['content']}}
              {% endmarkdown %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Activities section end -->

    <!-- Special section start -->
    {% if specialSection['attributes']['is_on'] %}
      <section id="special" class="special-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="content">
                <a href="{{base_api_url}}{{specialSection['attributes']['file']['data']['attributes']['url']}}" target="_blank"><img src="{{base_api_url}}{{specialSection['attributes']['image']['data']['attributes']['url']}}" class="image-align-right"></a>
                <h3>{{ specialSection['attributes']['title']}}</h3>
                {% markdown %}
                {{ specialSection['attributes']['text']}}
                {% endmarkdown %}
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
    <!-- Special section end -->

    <!-- Team section start -->
    <section id="team" class="team-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Équipe du projet</h2>
            <div class="content">
              <div class="row">
                <div class="intro col-md-6">
                  {% markdown %}
                  {{homeInfo['attributes']['teamIntro']}}
                  {% endmarkdown %}
                </div>
              </div>
              <div class="row">
                {% for member in teamMembers %}
                  <div class="team-member col-md-6">
                    <img class="member-picture" src="{{base_api_url}}{{member['attributes']['picture']['data']['attributes']['url']}}">
                    <div class="member-infos">
                      <div class="member-name">{{member['attributes']['name']}}</div>
                      <div class="member-job">{{member['attributes']['role']}}</div>
                      <div class="member-job">{% if member['attributes']['link'] %}<a href="{{member['attributes']['link'] | raw}}" target="_blank">{{member['attributes']['company']}}</a>{% else %}{{member['attributes']['company']}}{% endif %}</div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              {# <div class="align-center margin-top-100"><a class="btn red-btn" href="#contact">Contact the team</a></div> #}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team section end -->

    <!-- Partners section start -->
    <section id="partners" class="partners-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Comité de coordination</h2>
            <div class="content">
              <div class="row">
                <div class="intro col-md-6">
                  {% markdown %}
                  {{homeInfo['attributes']['partnerIntro']}}
                  {% endmarkdown %}
                </div>
              </div>
              <div class="row partners-row">
                {% for partner in partners %}
                  <div class="partner col-md-3 col-sm-6 px-5">
                    <a href="{{partner['attributes']['url']}}" target="_blank">
                      {{partner['attributes']['name']}}
                      {#                           <img class="{{partner['attributes']['name']}}" src="{{base_api_url}}{{partner['attributes']['logo']['data']['attributes']['url']}}"> #}
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Partners section end -->

    <!-- Publications section start -->
    <section id="publications" class="publications-section">
      <div class="container px-4">
        <div class="row">
          <div class="col-md-12">
            <h2>Publications</h2>
            <div class="content">
              <div class="row">
                <div class="intro col-md-6">
                  {% markdown %}
                  {{homeInfo['attributes']['publicationIntro']}}
                  {% endmarkdown %}
                </div>
              </div>
              <div class="row publi-row">
                {% for publication in publications %}
                  {% set type = publication['attributes']['type'] %}
                    <div class="publi col-md-3 col-sm-6 px-5">
                      <a target="_blank" href="{% if (publication['attributes']['link']) %}{{publication['attributes']['link']}}{% else %}{{base_api_url}}{{publication['attributes']['document']['data']['attributes']['url']}}{% endif %}">
                        {# <img class="publi-image" src="{{base_api_url}}{{publication['attributes']['picture']['data']['attributes']['url']}}"> #}
                        <div class="publi-title">{{publication['attributes']['title']}}</div>
                        <div class="publi-date">{{publication['attributes']['date'] | date("d.m.Y")}}</div>
                        <div class="publi-icon p-i-{% if type == 'pdf' %}pdf{% elseif type == 'doc' %}word{% elseif type == 'download' %}download{% elseif type == 'video' %}video{% elseif type == 'external' %}external{% endif %}"></div>
                      </a>
                    </div>
                  {% endfor %}
                </div>
                {# <div class="align-center margin-top-100"><a class="btn red-btn" href="#contact">See all documents</a></div> #}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Publications section end -->

      <!-- Planning section start -->
      <section id="planning" class="planning-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Planning</h2>
              <div class="content">
                <div class="row">
                  <div class="intro col-md-6">
                    {% markdown %}
                    {{homeInfo['attributes']['planningIntro']}}
                    {% endmarkdown %}
                  </div>
                </div>
                <div class="row position-relative margin-top-60">
                  <div class="events-slider col-md-12">
                    {% if (planningDates|length < 5) %}
                      {% for i in planningDates|length..4 %}
                        <div>
                        </div>
                      {% endfor %}
                    {% endif %}
                    {% for date in planningDates %}
                      <div id="event-{{loop.index}}" date="{{date['attributes']['date'] | date('Y-m-d')}}" class="event">
                        <div class="event-name">{{date['attributes']['title']}}</div>
                        <div class="event-description">{% markdown %}{{date['attributes']['content'] | raw}}{% endmarkdown %}</div>
                        <div class="event-date">{{date['attributes']['date'] | date("d.m.Y")}}</div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="action-slide prev-slide"></div>
                  <div class="action-slide next-slide"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Planning section end -->

      <!-- Contact section start -->
        {# <section id="contact" class="contact-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Contact</h2>
                <div class="content">
                  <div class="row">
                    <div class="intro col-md-6">
                    {% markdown %}
                    {{homeInfo['attributes']['contactIntro']}}
                    {% endmarkdown %}
                    </div>
                  </div>
                  <form>
                    <div class="row">

                      <div class="col-md-6">
                        <div class="field-group">
                          <label>First name *</label>
                          <input type="text">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="field-group">
                          <label>Last name *</label>
                          <input type="text">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="field-group">
                          <label>Email *</label>
                          <input type="text">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="field-group">
                          <label>Phone</label>
                          <input type="text">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="field-group">
                          <label>Message *</label>
                          <textarea></textarea>
                        </div>
                        <div class="col-md-12 margin-top-30">
                          <div class="checkbox-group">
                            <label><input type="checkbox" required="required">By submitting this form I agree that my personal data can be used as part of my contat request. *</a></label>
                          </div>
                        </div>
                        <div class="col-md-12 align-center margin-top-60">
                          <button type="submit" class="btn red-btn">Send the message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section> #}
          <!-- Contact section end -->

        </div>
        <!-- Main content end -->

        {% include 'partials/footer.html.twig' %}
